<p id="notice"><%= notice %></p>

<p>
  <strong>Resto name:</strong>
  <%= @account.resto_name %>
</p>

<p>
  <strong>Resto mail:</strong>
  <%= @account.resto_mail %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user_id %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @account.subdomain %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
